* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
}

#contenedor {
    max-width: 750px;
    background-color: darkred;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*CABECERA*/
header {
    height: 250px;
    background-color: blue;
}
#banner {
    width: 500px;
    height: 250px;
    background-color: blueviolet;
    float: left;
}
#logo {
    width: 250px;
    height: 125px;
    background-color: chartreuse;
    float: left;
}
#login {
    width: 250px;
    height: 125px;
    background-color: crimson;
    float: left;
}

/*NAVEGACIÓN*/
#menu-h {
    height: 50px;
    background-color: chocolate;
}

/*CONTENIDO*/
main {
    height: 400px;
    background-color: darkgreen;
}
#asleft {
    width: 150px;
    height: 400px;
    background-color: darksalmon;
    float: left;    
}
article {
    width: 500px;
    height: 400px;
    background-color: darkorchid;
    float: left;
}
#asright {
    width: 100px;
    height: 400px;
    background-color: darkslategray;
    float: left;
}

/*PIE DE PÁGINA*/
footer {
    height: 50px;
    background-color: black;
}